.section-wrapper {
    position: relative;

    .section-edge {
        border: 1px solid rgba($black, 0.0);
    }

    &.section-editable {
        .section-edge {
            border: 1px solid rgba(red, 0.0);
            transition: all 0.2s $animation_easing;
        }
        
    
        &:hover {
            .section-edge {
                border: 1px solid rgba($black, 0.2);
            }
        }
    
        &.section-active {
            .section-edge {
                border: 1px solid rgba($black, 1);
            }
        }
    }
  
}

.main-section {
    position: relative;

    .mouse-positions {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    // min-height: 1000px;
}
// .section-wrapper {
//     .section-edge {
//         border: 1px solid rgba($black, 0.0);
//         transition: all 0.2s $animation-easing;
//     }
    

//     &:hover {
//         .section-edge {
//             border: 1px solid rgba($black, 0.1);
//         }
//     }

//     &.section-active {
//         .section-edge {
//             border: 1px solid rgba($black, 1);
//         }
//     }
// }