.main-button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 54px;
    font-size: 12px;
    font-weight: 400;
    padding: 0 15px 0 15px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid $black;
    background: $black;
    color: $white;
    transition: all 1s;
    transform-origin: 0 0;
  
    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   transition: all 1s;
    //   transform: translateY(100%);
    // }
  
    .main-button-text {
      position: relative;
      top: -1px;
      transition: all 1s;
      letter-spacing: 1.3px;
      white-space: nowrap;
    }
  
    &:hover {
        color: $white;
  
      .main-button-text {
        letter-spacing: 2px;  
      }
    }

    

    &.main-button-minimal {
        background: transparent;
        color: $black;

        &:hover {
            color: $black;
        }

        &.extra {
            font-size: 133px;
            font-family: "E", sans-serif;
            height: auto;
            text-transform: none;
            display: inline-block;
            width: auto;
            padding: 3.9rem 0.8em;

            .main-button-text {
                // animation: breathe 3s infinite alternate forwards;
            }

            &:hover {
                .main-button-text {
                    // animation: breathe 3s infinite alternate forwards;
                    letter-spacing: 3.5px;
                }
                // color: #D8C3A8;
                // border: 1px solid #D8C3A8
            }

            @media only screen and (max-width: $mobile) {
                font-size: 30px;
                font-weight: 400;
                padding: 1.2rem 0.8em;
            }
        }
    }

    &.icon-button {
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            path {
                fill: $white
            }
        }

        &.main-button-minimal {
            border: none;
            background: rgba($black, 0.03);
            svg {
                path {
                    fill: $black
                }
            }
        }
    }
  
    // &.main-button-white {
    //   &.main-button-outlined {
    //     border: 1px solid $white;
    //     color: $white;
    //     background: transparent;
  
    //     &:hover {
    //       color: $white;
  
    //       &:before {
    //         background: rgba($white, 0.15);
    //         transform: translateY(0%);
    //       }
    //     }
    //   }
  
    //   &.of-button-filled {
    //     color: $black;
    //     background: $white;
  
    //     &:hover {
    //       color: $black;
  
    //       &:before {
    //         background: rgba($black, 0.15);
    //         transform: translateY(0%);
    //       }
    //     }
    //   }
    // }
  
    // &.of-button-black {
    //   &.of-button-outlined {
    //     border: 1px solid $black;
    //     color: $black;
    //     background: transparent;
  
    //     &:hover {
    //       color: $black;
    //     }
    //   }
    //   &.of-button-filled {
    //     color: $white;
    //     background: $black;
  
    //     &:hover {
    //       color: $white;
    //     }
    //   }
    // }
  }

  @keyframes breathe {
    0% {
        letter-spacing: 1.3px;
    }

    100% {
        letter-spacing: 3px;
    }
}
  