.add-section {
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.epic-plus-container {
    cursor: pointer;
    padding: 10px;
    background: $white;
    border: 1px solid rgba($black, 0.2);
    z-index: 1000;
    position: relative;
    top: 20px;
}