.add-section {
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    left: 50%;
    right: 0;
    width: 700px;
    margin-left: -350px;

    // &:hover {
    //     .section-bottom-add,
    //     .section-bottom-add  {
    //         visibility: visible;
    //     }
    // }

    .epic-plus-container {
        cursor: pointer;
        padding: 10px;
        background: $white;
        border: 1px solid rgba($black, 0.2);
        z-index: 1000;
        position: relative;
        transition: border 1s $animation_easing;

        svg {
            transition: fill 1s $animation_easing;
            fill: rgba($black, 0.3)
        }

        &:hover {
            border: 1px solid rgba($black, 1);
            svg {
                fill: rgba($black, 1)
            }
        }
    }

    &.active {
        .epic-plus-container {
            border: 1px solid rgba($black, 1);
        }
    }
    
}


.epic-section-container{
    position: relative;
}

.section-bottom-add {
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    visibility: hidden;

    .epic-plus-container {
        top: 0px;
    }

    &.display-add-section {
        visibility: visible;
    }
}

.section-top-add {
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 20px;
    visibility: hidden;

    .epic-plus-container {
        top: -20px;
    }

    &.display-add-section {
        visibility: visible;
    }

}

.add-section-container {
    width: 222px;
    margin: 0 auto;
}

// .section-add-container {
//     visibility: hidden;
// }

// .epic-section-container {
//     &:hover {
//         .section-add-container {
//             visibility: visible;
//         }
//     }
// }


// .section-add {
//     visibility: hidden;

//     &:hover { 
//         visibility: visible;
//     }
// }
