.user-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    transition: all 0.7s $mikhailEasing;

    .main-button {
        margin: 0 20px 0 0;
        width: 150px;

        &:last-child {
            margin-right: 0;
        }
    }

    &.hidden {
        transform: translateY(50px);
        opacity: 0;
    }

    @media only screen and (max-width: $mobile) {
        left: 0;
        bottom: 0;
        right: 0;
        background: $white;
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}