.domain-edit-drawer {
    .domain-settings-wrapper {
        height: 590px;
        position: relative;

        .domain-settings-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 0 20px 20px 20px;
            animation: fadeIn 0.6s $animation_easing;

            .domain-page-top {
                flex-grow: 1;
                flex-shrink: 1;

                .domain-page-title {
                    font-family: "E", sans-serif;
                    font-size: 77px;
                    line-height: 0.7em;
                }

                .domain-page-description {
                    font-size: 16px;
                    opacity: 0.5;
                    margin: 20px 0 40px 0;
                }

                ul.page-links-container {
                    display: flex;
                    li.page-link {
                        margin-right: 20px;
                        border-right: 1px solid rgba($black, 0.1);
                        padding-right: 20px;

                        a {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                        }

                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }

            .domain-page-bottom {
                flex-grow: 0;
                flex-shrink: 0;
            }
        }
    }
}