// reset
@import "./imports/reset";

// blueprint
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

// imports
@import "./imports/colors";
@import "./imports/fonts";
@import "./imports/variables";
@import "./imports/animations";

@import "../App.scss";

// Pages
@import "../react/pages/home/index.scss";

// Components
@import "../react/components/header/index.scss";
@import "../react/components/button/index.scss";
@import "../react/components/logo/index.scss";
@import "../react/components/main_links/index.scss";

html {
	touch-action: manipulation;
}

body {
	margin: 0;
	padding: 0;
	background: $offWhite;
    color: $black;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	// -webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
    transition: opacity 1s;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
}

// Selection
// -------------------------

::selection {
  background: $black;
  color: $offWhite;
}

::-moz-selection {
  background: $black;
  color: $offWhite;
}

// Links
// -------------------------

a {
	text-decoration: none !important;
	font-weight: 400;
}

.app {
	display: block;
	position: relative;
}

.placeholder {
	display: block;
	position: relative;
	height: 3000px;
	width: 100%;
}