// reset
@import "./imports/reset";

@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

// imports
@import "./imports/colors";
@import "./imports/fonts";
@import "./imports/variables";
@import "./imports/animations";

@import "../App.scss";

// Pages
@import "../react/pages/home/index.scss";

// Components
@import "../react/components/header/index.scss";
@import "../react/components/button/index.scss";
@import "../react/components/logo/index.scss";
@import "../react/components/main_links/index.scss";
@import "../react/components/image/index.scss";
@import "../react/components/form/BladeInput.scss";


// Home Sections
@import "../react/pages/home/Section5.scss";
@import "../react/pages/home/Section6.scss";
@import "../react/pages/auth/index.scss";

html {
	touch-action: manipulation;
}

body {
	margin: 0;
	padding: 0;
	background: $offWhite;
    color: $black;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: subpixel-antialiased;
	// -webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
    transition: opacity 1s;
    font-size: 16px;
    letter-spacing: 0.34px;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
}

// Selection
// -------------------------

::selection {
  background: $black;
  color: $offWhite;
}

::-moz-selection {
  background: $black;
  color: $offWhite;
}

// Links
// -------------------------

a {
	text-decoration: none !important;
    color: $black;

    &:hover {
        color: $black
    }
}

.line-hover {
    position: relative;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    transition: all .8s $mikhailEasing;
    line-height: 1.4em;

    span {
        transition: all 2s $mikhailEasing;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $black;
        margin-top: -1px;
        transform: translateX(-108%);
        transition: transform 2s $mikhailEasing;
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
        opacity: 0;
    }

    &:hover {

      &:after {
        transform: translateX(108%);
        opacity: 1;
      }
    }
}

.app {
	display: block;
	position: relative;
}

.placeholder {
	display: block;
	position: relative;
	height: 3000px;
	width: 100%;
}


.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
  }
  