// Inter 

@font-face {
    font-family: 'Inter';
    src: url('../../../static/fonts/Inter-Thin.woff2') format('woff2'),
        url('../../../static/fonts/Inter-Thin.woff') format('font-woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../static/fonts/Inter-Light.woff2') format('woff2'),
        url('../../../static/fonts/Inter-Light.woff') format('font-woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../static/fonts/Inter-ExtraLight.woff2') format('woff2'),
        url('../../../static/fonts/Inter-ExtraLight.woff') format('font-woff');
    font-weight: 350;
    font-style: normal;
}


@font-face {
    font-family: 'Inter';
    src: url('../../../static/fonts/Inter-Regular.woff2') format('woff2'),
        url('../../../static/fonts/Inter-Regular.woff') format('font-woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../static/fonts/Inter-Medium.woff2') format('woff2'),
        url('../../../static/fonts/Inter-Medium.woff') format('font-woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../static/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../../../static/fonts/Inter-SemiBold.woff') format('font-woff');
    font-weight: 550;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../static/fonts/Inter-Bold.woff2') format('woff2'),
        url('../../../static/fonts/Inter-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../static/fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../../../static/fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: 650;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../../../static/fonts/Inter-Black.woff2') format('woff2'),
        url('../../../static/fonts/Inter-Black.woff') format('font-woff');
    font-weight: 700;
    font-style: normal;
}

// Elgoc 

@font-face {
    font-family: 'E';
    src: url('../../../static/fonts/E-Thin.woff2') format('woff2'),
        url('../../../static/fonts/E-Thin.woff') format('font-woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'E';
    src: url('../../../static/fonts/E-Light.woff2') format('woff2'),
        url('../../../static/fonts/E-Light.woff') format('font-woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'E';
    src: url('../../../static/fonts/E-Regular.woff2') format('woff2'),
        url('../../../static/fonts/E-Regular.woff') format('font-woff');
    font-weight: 400;
    font-style: normal;
}
