.layout-add-section {
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: calc(50% - 20px);
        border-top: 1px solid rgba($black, 0.1);
        z-index: 1;
        transition: all 0.2s ease;
    }

    &:after {
        content: "";
        position: absolute;
        top: 9px;
        right: 0;
        width: calc(50% - 20px);
        border-top: 1px solid rgba($black, 0.1);
        z-index: 1;
        transition: all 0.2s ease;
    }


    .layout-add-icon-wrapper {
        z-index: 2;
        opacity: 0.3;
        transition: all 0.2s ease;
    }

    &:hover {
        .layout-add-icon-wrapper {
            opacity: 1;
        }

        &:after, &:before {
            border-top: 1px solid rgba($black, 1);
       } 
    }
}

.layout-option-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 15px;
    background: rgba($black, 0.05);
    margin-bottom: 10px;
    align-items: center;
    transition: all 0.2s $animation_easing;
    cursor: pointer;

    &:hover {
        background: rgba($black, 0.1); 
    }

    .layout-option-title {
        font-size: 14px;
        position: relative;
        top: -2px;
        transition: all 0.2s $animation_easing;
    }

    .main-button  {
        width: 40px;
        height: 40px;
        padding-top: 0;
        padding-top: 0;
        transition: all 0.3s;

        &.main-button-minimal {
            padding: 0;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;

            .main-button-text {
                transition: all 0.2s;
                color: $white;
            }
        }
    }

    &.layout-option-active {
        background: $black;

        .layout-option-title {
            font-weight: 600;
            color: $white
        }
    }
}

.layout-section-wrapper {

    .layout-section-container {

        .layout-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgba($black, 0.1);
            padding: 10px 10px 10px 20px;
            margin: 10px 0 10px 0;
            transition: all 0.2s $animation_easing;
            cursor: pointer;

            &:hover {
                border: 1px solid rgba($black, 0.2);
            }

            &.layout-section-active {
                border: 1px solid rgba($black, 1);
            }

            .layout-section-left {
                display: flex;
                align-items: center;

                .layout-section-drag-handle {
                    margin: 0 20px 0 0;
                    transition: all 0.2s $animation_easing;
                    opacity: 0.3;
                    cursor: move;

                    &:hover {
                        opacity: 1;
                    }
                }

                .layout-section-details-container {
                    position: relative;
                    top: -2px;
                    cursor: pointer;

                    .layout-section-details-section-name {
                        font-size: 14px;
                        opacity: 0.4;
                    }

                    .layout-section-details-layout-name {
                        font-size: 16px;
                        font-weight: 600;

                        .layout-name-container {
                            margin: 0 3px 0 0;
                        }

                        .layout-name-icon {
                            position: relative;
                            top: -1px;
                        }
                    }
                }
            }

            .layout-section-right {
                display: flex;

               
                .main-button {
                    margin-left: 10px;
                }
            }
        }
    }
}

// .isDragging {
//     .layout-add-section {
//         display: none !important;
//     }
// }