.transition-element {
    opacity: 0;
    animation: fadeIn 0.5s  $animation_easing forwards;
}

@for $i from 1 through 20 {
    .transition-element {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.03s;
      }
    }
}

.editor-sections {
    .transition-element {
        &:last-child {
            .editor-section {
                &.editor-section-noBottom {
                    border-bottom: none;
                }
            }
        }
    }
}

.editor-section {
    min-height: 55px;
    border-bottom: 1px solid rgba($black, 0.1);


    .editor-section-header {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        line-height: 21px;
        cursor: pointer;
        user-select: none;

        &.header-active {
            font-weight: 600;
        }

        &:hover {
            font-weight: 600;
        }

        .editor-section-left {
            display: flex;

            .section-icon-container {
                width: 16px;
                height: 16px;
                margin: 0 15px 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                top: 2px
            }
        }
    }

    .editor-section-content {
        padding: 0 20px 20px 20px;
        font-size: 14px;
        display: flex;
        flex-direction: column;

        &.editor-section-content-hidden {
            display: none;
        }

        &.editor-section-content-notCollapsible {
            padding-top: 20px;
        }

        .editor-switch {
            margin-right: 30px;
        }

        &.editor-section-content-noPadding {
            padding-top: 0;
            padding-bottom: 0
        }
        
    }
}

.editor-sections {
    .transition-element {
        &:last-child {
            // border-bottom: 1px solid rgba($black, 0.1)
        }
    }
}

.editor-row {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .input-label {
        margin: 0 0 5px 0;
        font-size: 12px;
    }

    &:last-child {
        margin-bottom: 10px;
    }
}

.tabgroup-container {
    margin-bottom: 20px;

    .control-input {
        display: none
    }

    .input-label {
        margin: 0 0 10px 0;
        font-size: 12px;
    }

    ul.tab-options {
        display: flex;
        width: 100%;

        li.tab-option {
            flex-grow: 1;
            flex-shrink: 1;
            text-align: center;
            padding: 5px 0;
            font-weight: 600;
            background: rgba($black, 0.1);
            margin: 0 10px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .tab-option-label {
                position: relative;
                top: -2px;
                letter-spacing: 0.34px;
            }

            &.tab-option-active {
                background: $black;
                color: $white;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}