.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1400px;
    position: relative;
    flex-direction: column;
    top: -200px;
    text-align: center;

    .epic-footer-line-1{
        font-family: "E", sans-serif;
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 150px;
    }

    .epic-footer-line-2{
        font-family: "E", sans-serif;
        font-size: 66px;
    }

    .epic-footer-hasana {
        margin-top: 150px;
    }
}
