.epic-image-container {
    position: relative;
    height: 900px;
    max-width: $maxWidth;
    margin: 250px auto 0 auto;

    
    .epic-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: rgba($black, 0.1);
        z-index: 1;
    }

    .epic-description {
        position: absolute;
        background: white;
        z-index: 2;
        overflow: hidden;

        .epic-description-content {
            width: 750px;
            padding: 100px;
        }

        .epic-description-headline {
            font-size: 86px;
            font-family: "E", sans-serif; 
            line-height: 1em;
            margin-bottom: 25px;
        }

        .epic-description-text {
            font-size: 16px;
            line-height: 24px;
            opacity: 0.5;
            margin: 0;
        }
    }

    &.description-left {
        .epic-image {
            margin-left: 100px;
        }

        .epic-description {
            bottom: -100px;
            left: 0;
        }
    }

    &.description-right {
        .epic-image {
            margin-right: 200px;
        }

        .epic-description {
            bottom: -100px;
            left: calc(100% - 750px);
        }
    }

}