.app-header {
    position: fixed;
    top: 0;
    height: 122px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 50px;

    @media only screen and (max-width: $mobile) {
         height: 100px;
    }

    // .header-wrapper {
    //     // max-width: $maxWidth;
    //     margin: 0 auto;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     height: 100%;

    //     @media only screen and (max-width: $mobile) {
    //         position: relative;
    //         align-items: flex-start;
    //         justify-content: center;

    //         .main-links-container{
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //             margin: 95px 0 10px 0;
    //             text-align: center;
    //             font-weight: 400;
    //             font-size: 14px;
    //         }

    //         .app-logo-name { 
    //             svg {
    //                 width: 100px
    //             }
    //         }
    //     }
    // }

    .header-right {
        position: relative;
        z-index: 2;


        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }

    @media only screen and (max-width: $mobile) {
        position: relative;
    }

    .logo-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        // height: 75px;

        .app-logo-name {
            font-family: "E", sans-serif;
            font-size: 62px;
            font-weight: 300;
            // line-height: 70px;
        }
    }

    .header-wrapper {
        position: relative;

        &.logo-align-left {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .main-links-container {
                z-index: 1;
                position: absolute;
                top: -2px;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.links-align-center {

                &.cta-align-center {
                    .header-right {
                        position: absolute;
                        top: 135px;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &.cta-align-left {
                    .header-right {
                        position: absolute;
                        top: 135px;
                        left: 0;
                        right: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            &.links-align-left {
                .main-links-container { 
                    position: absolute;
                    top: 135px;
                    left: 0;
                    bottom: 0;
                    right: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.cta-align-center {
                    .header-right {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &.cta-align-left {
                    .header-right {
                        position: absolute;
                        top: 150px;
                        left: 0;
                        right: auto;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &.links-visible {
                        .header-right  {
                            height: 222px;
                        }
                    }
                }

            }

            &.links-align-right {

                .main-links-container { 
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }


                &.cta-visible {
                    .main-links-container { 
                        position: absolute;
                        top: 135px;
                        right: 0;
                        bottom: 0;
                        left: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
    
                    &.cta-align-center {
                        .main-links-container { 
                            top: 0
                        }
    
                        .header-right {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                    &.cta-align-left {
                        .main-links-container { 
                            top: 0
                        }
                        .header-right {
                            position: absolute;
                            top: 135px;
                            left: 0;
                            right: auto;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    } 
                }
            }
        }

        &.logo-align-right {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .app-logo {
                position: absolute;
                top: -2px;
                left: auto;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.links-align-center {

                .main-links-container {
                    z-index: 1;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.cta-align-center {
                    .header-right {
                        position: absolute;
                        top: 135px;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &.cta-align-right {
                    .header-right {
                        position: absolute;
                        top: 135px;
                        left: auto;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                

            }

            &.links-align-left {
                .header-right {
                    position: absolute;
                    top: 135px;
                    left: auto;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.cta-align-center {
                    .header-right {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &.cta-align-left {
                    .header-right {
                        position: absolute;
                        top: 135px;
                        left: 0;
                        right: auto;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            &.links-align-right {
                

                .main-links-container {
                    z-index: 1;
                    position: absolute;
                    top: 135px;
                    left: auto;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.cta-align-center {
                    .header-right {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &.cta-align-right {
                    .header-right {
                        position: absolute;
                        top: 222px;
                        left: auto;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
                

            
        }
    
        &.logo-align-center {
            max-width: $maxWidth;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .app-logo {
                position: absolute;
                top: -2px;
                left: 0;
                right: 0;
                bottom: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @media only screen and (max-width: $mobile) {
                position: relative;
                align-items: flex-start;
                justify-content: center;

                .main-links-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 95px 0 10px 0;
                    text-align: center;
                    font-weight: 400;
                    font-size: 14px;
                }

                .app-logo-name { 
                    svg {
                        width: 100px
                    }
                }
            }

            &.cta-align-right {
                .header-right {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &.cta-align-center {
                .header-right {
                    position: absolute;
                    top: 150px;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &.cta-align-left {
                .header-right {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: auto;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &.links-visible {
                &.links-align-center {
                    .main-links-container { 
                        position: absolute;
                        top: 135px;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
    
                    &.cta-align-right {
                        .header-right {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                    &.cta-align-center {
                        .header-right {
                            position: absolute;
                            top: 222px;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                    &.cta-align-left {
                        .header-right {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: auto;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                   
                }
                &.links-align-left {
                    color: red;
    
                    &.cta-align-left { 
                        .header-right {
                            position: absolute;
                            top: 135px;
                            left: 0;
                            right: auto;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                    &.cta-align-center { 
                        .header-right {
                            position: absolute;
                            top: 150px;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
    
                &.links-align-right {
    
                    .header-right {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
    
                    &.cta-align-right {
                        .main-links-container { 
                            position: absolute;
                            top: 135px;
                            right: 0;
                            left: auto;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                    &.cta-align-center { 
                        .header-right {
                            position: absolute;
                            top: 150px;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
    
                        .main-links-container  {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                    &.cta-align-left { 
                        .header-right {
                            position: absolute;
                            left: 0;
                            right: auto;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
    
                        .main-links-container  {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }

            
        }

       
    }
}