.app-header {
    position: fixed;
    top: 0;
    height: 122px;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 50px;

    .header-wrapper {
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .header-right {
        position: relative;
        z-index: 2;
        height: 24px;
        overflow: hidden;
    }
}