.app-header {
    position: fixed;
    top: 0;
    height: 122px;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 50px;

    .header-wrapper {
        max-width: $maxWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @media only screen and (max-width: $mobile) {
            position: relative;
            align-items: flex-start;
            justify-content: center;

            .main-links-container{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 110px 0 10px 0;
                text-align: center;
            }
        }
    }

    .header-right {
        position: relative;
        z-index: 2;

        .main-button {
            width: 222px
        }

        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }

    @media only screen and (max-width: $mobile) {
        position: relative;
    }
}