.input-text  {
    height: 54px;
    position: relative;
    margin: 0px 0 10px 0;
    display: flex;
  
    &:before {
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: block;
      background-color: rgba($black, 0.2);
      height: 1px;
      z-index: 1;
      transition: all .15s $animation-easing;
    }
  
    &:after {
      content: "";
      left: 0;
      right: 100%;
      bottom: 0;
      position: absolute;
      display: block;
      background-color: $black;
      transition: all .15s $animation-easing;
      height: 1px;
      z-index: 2
    }
  
    &.input-focused {
      &:after {
        right: 0
      }
    }
  
    .input-placeholder {
      position: absolute;
      z-index: 1;
      font-weight: 300;
      letter-spacing: 0.3px;
      black-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  
      &.input-placeholder-small {
        top: 4px;
        opacity: 0;
        visibility: hidden;
        font-size: 11px;
        transition: all 0.2s $animation-easing;
        z-index:100;
        color: rgba($black, 1);

  
        &.input-placeholder-small-visible {
          top: 0;
          opacity: 1;
          visibility: visible;
        }
      }
  
      &.input-placeholder-large {
        font-size: 20px;
        top: 13px;
        opacity: 0;
        transition: all 0.2s $animation-easing;
        color: rgba($black, 0.5);
  
        &.input-placeholder-large-visible {
          opacity: 1;
        }
      }
    }
  
    &:hover {
    //   &:before {
    //     background-color: $light-gray1;
    //   }

      .input-placeholder-large {
        color: rgba($black, 0.2);
      }
  
    }
  
    .blade-input {
      height: 58px;
      padding: 0 0 0 0;
      outline: none;
      border: none;
      font-size: 18px;
      background: none;
      position: relative;
      z-index: 2;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: $black
    }
  
    .input-error {
      position: absolute;
      z-index: 1;
      font-weight: 300;
      letter-spacing: 0.3px;
      black-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $red4;
      top: 0;
      opacity: 1;
      font-size: 11px;
    }
  
    &.input-invalid {
      &:after {
        right: 0;
        background-color: $red4;
      }
    }
  
    .select-icon {
      position: absolute;
      right: 0;
      z-index: 1;
      top: 17px;
  
      path {
        fill: $gray4
      }
    }
  }
  