.site-view-container {
    border-bottom: 1px solid rgba($black, 0.07);
    display: flex;
    align-items: center;
    min-height: 61px;
    padding: 20px;

    .site-view-left {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;

        .site-title {
            margin-left: 5px;    
            width: 100%
        }
    }

    .title-editable {
        width: 100%;
        min-height: 24px;
    }

    .site-view-right {
        display: flex;

        .main-button {
            margin-left: 10px;
        }
    }
}