.grid-image {
    position: relative;
    overflow: hidden;
    // background: rgba($white,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    background: rgba(#C4C4C4, 0.2);

    .image-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .image-wrapper {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}