.main-links-container {
    position: relative;
    z-index: 2;
    
    .main-links {
        display: flex;

        .main-link-container {
            height: 20px;
            overflow: hidden;
            margin-right: 30px;
            display: block;
        }
    }
}